body
{
    background-color: rgb(222, 222, 252);
}
.navbar
{
    width: 100%;
    padding-top: 30px;
    background-color: whitesmoke;
    position: sticky;
}
#bar
{
    padding-left: 40px;
    width: 50%;
    height: 80%;
   
}
.bar1
{
    background-color: rgb(16, 235, 235);
}
.navbar-left
{
    font-size: x-large;
}
#item-nav
{
    padding-left: 30px;
}
#logo

{
    padding-left: 50px;
}
#navnext
{ 
    position: static;
    height: 250px;
    width: 100%;
    border: 2px solid whitesmoke;
   padding-top: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
#fa
{
    height: 90px;
    width: 70px;
}
.a
{
    
    height: 90px;
    width: 100%;
    border: 2px solid whitesmoke;
    font-size: xx-large;
    font: weight 500px;
    margin: 7px;
    background-color: white;
    
}

#i1
{
    height: 200px;
}
#c1p1
{
   font-weight: 60px;
    padding-left: 40px;
}
.c
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#c1h5
{
    padding-left: 100px;
}
#c1h2
{
    padding-left: 20px;
}
#c1h3
{
    padding-left: 60px ;
}
#c1p2
{
    padding-right: 50px;
}
.courasel
{
    padding-top: 5px;

}
.ca
{   
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cb
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.parent
{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 10px;
 width: 100%;
}
#a
{
  background-color: white;
  width: 50%;
  height: 700px;
 
}
#b
{
 background-color: white;
 height: 700px;
 width: 50%;
}
#a1h3
{
    color: green;
}
.a1
{
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.conclusion
{
    display: flex;
   text-align: center;
   justify-content: center;
   align-content: center;
   background-color: white;
  flex-direction: column;
   
}
.conclusionh:hover
{
 color: green;
}
.conclusionh
{
    margin-top: 50px;
}
.social
{
    height: 100px;
    width: 100px;
}
.social1
{
    height: 70px;
    width: 70px;
}
.courasel
{
    width: 100%;
}


.parent1{
    display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 10px;
    width: 100%;
}



